//colors
$mainGreen: #00dbb1;
$washedGreen: #c3fef8;
$accentGreen: #377a7b;
$washedAccentGreen: #a2d8d7;
$backgroundGrey: #ececec;
$borderGrey: #d8d8d8;
$mainTextGrey: #494949;
$mainRed: #d86460;

// gaps
$s2: 2px;
$s4: 4px;
$s8: 8px;
$s12: 12px;
$s16: 16px;
$s20: 20px;
$s24: 24px;
$s32: 32px;
$s40: 40px;